@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

[data-theme="st-thomas"] {
  --color-brand: #510c76;
  --color-brand-100: var(--color-purple-50);
  --color-brand-content: #ffffff;
  --color-brand-active: #9e28b5;
  --color-base-100: var(--color-white);
  --color-base-200: var(--color-gray-100);
  --color-base-300: var(--color-gray-200);
  --color-base-content: var(--color-gray-800);

  --app-fontFamily: Lato, sans-serif;
  --app-textColor: var(--color-base-content);
  --app-backgroundColor: var(--color-base-100);
  --app-borderColor: var(--color-gray-300);
  --app-borderWidth: 1px;
  --app-object-fit: contain;

  /**
  * App Header
  */
  --app-appHeader-backgroundColor: var(--color-brand);
  --app-appHeader-secondaryNav-backgroundColor: var(--color-base-100);
  --app-appHeader-textColor: var(--color-brand-content);
  --app-appHeader-wordmark-textColor: var(--color-brand-content);
  --app-appHeader-logo-color: var(--color-brand-content);
  --app-appHeader-borderBottomColor: tranparent;
  --app-appHeader-avatar-textColor: var(--color-brand-content);
  --app-appMenu-backgroundColor: var(--color-base-100);
  --app-appMenu-headingColor: var(--color-base-content);
  --app-appMenuButton-backgroundColor: transparent;
  --app-appMenuButton-textColor: var(--color-brand-content);

  --app-appMenuItem-textColor: var(--color-base-content);
  --app-appMenuItem-hover-backgroundColor: var(--color-purple-50);
  --app-appMenuItem-hover-textColor: var(--color-brand-active);

  /**
  * Link
  */
  --app-link-textColor: var(--color-brand-active);
  --app-link-textColor-inverse: var(--color-brand-100);
  --app-link-hover-textColor: var(--color-brand);

  /**
  * Panel (Drawer)
  */
  --app-panel-borderColor: tranparent;
  --app-panel-borderWidth: 2px;
  --app-panel-header-textColor: var(--color-base-content);
  --app-panel-header-backgroundColor: var(--color-base-200);
  --app-panel-body-textColor: var(--color-base-content);
  --app-panel-body-backgroundColor: var(--color-base-200);
  --app-panel-body-items-gap: 1.5rem;

  /**
  * Object Viewer
  */
  --app-objectViewer-backgroundColor: var(--color-base-100);

  /**
  * Widget List
  */
  --app-widgetList-gap: var(--app-panel-body-items-gap);

  /**
  * Accordion
  */
  --app-accordion-header-backgroundColor: var(--color-gray-200);
  --app-accordion-header-textColor: var(--app-textColor);
  --app-accordion-body-backgroundColor: var(--color-white);
  --app-accordion-body-textColor: var(--app-textColor);
  --app-accordion-outer-borderWidth: 1px;
  --app-accordion-outer-borderColor: var(--color-gray-200);
  --app-accordion-inner-borderWidth: 1px;
  --app-accordion-inner-borderColor: transparent;

  /* Tuple */
  --app-tuple-label-textColor: var(--color-gray-900);
  --app-tuple-value-textColor: var(--color-gray-700);

  /* Scrollbar */
  --app-scrollbar-width: 0.5rem;
  --app-scrollbar-thumb-backgroundColor: var(--color-gray-400);
  --app-scrollbar-thumb-hover-backgroundColor: var(--color-gray-500);
  --app-scrollbar-track-backgroundColor: var(--color-gray-200);

  /** Meta Data Only Page */
  --app-metaDataOnlyView-backgroundColor: var(--color-gray-300);
  --app-metaDataOnlyView-contentViewer-backgroundColor: var(--color-gray-50);
  --app-metaDataOnlyView-contentViewer-textColor: var(--color-gray-900);

  /** Modal **/
  --app-modalContents-backgroundColor: var(--color-base-100);
  --app-modalContents-textColor: var(--color-base-content);
  --app-modalContents-header-backgroundColor: var(--color-gray-200);
  --app-modalContents-header-textColor: var(--color-gray-900);

  /* Thumbnail Image */
  --app-thumbnailImage-backgroundColor: var(--color-white);
  --app-thumbnailImage-textColor: var(--color-purple-400);
  --app-thumbnailImage-active-ringColor: var(--app-link-textColor);

  --app-mediaCard-backgroundColor: var(--color-white);
  --app-mediaCard-borderColor: var(--color-purple-200);

  /**
  * Button Primary (default)
  */
  --app-button-primary-backgroundColor: var(--color-brand);
  --app-button-primary-borderColor: var(--color-brand);
  --app-button-primary-textColor: var(--color-brand-content);

  /* Button Primary :hover */
  --app-button-primary-hover-backgroundColor: var(--color-brand-active);
  --app-button-primary-hover-borderColor: var(--color-brand-active);
  --app-button-primary-hover-textColor: var(--color-brand-content);

  /* Button Secondary */
  --app-button-secondary-borderColor: var(--color-brand-active);
  --app-button-secondary-backgroundColor: transparent;
  --app-button-secondary-textColor: var(--color-brand-active);

  /* Button Secondary :hover */
  --app-button-secondary-hover-borderColor: var(--color-brand-active);
  --app-button-secondary-hover-backgroundColor: var(--color-brand-active);
  --app-button-secondary-hover-textColor: var(--color-brand-content);

  /**
  * Button Tertiary (default)
  */
  --app-button-tertiary-borderColor: transparent;
  --app-button-tertiary-backgroundColor: transparent;
  --app-button-tertiary-textColor: var(--color-purple-600);

  /* Button Tertiary :hover */
  --app-button-tertiary-hover-borderColor: transparent;
  --app-button-tertiary-hover-backgroundColor: var(--color-purple-50);
  --app-button-tertiary-hover-textColor: var(--color-purple-700);

  /* Icon Buttons */
  --app-iconButton-color: var(--color-brand);
  --app-iconButton-hover-backgroundColor: var(--color-purple-50);
  --app-iconButton-hover-color: var(--color-brand-active);

  /* sidebar on create/edit page */
  --app-sidebar-backgroundColor: var(--color-purple-100);
  --app-sidebar-textColor: var(--color-gray-900);
  --app-sidebar-link-textColor: var(--color-gray-900);

  /* Media Card, Collection Item, Drawers */
  --app-mediaCard-hover-backgroundColor: var(--color-purple-50);
  --app-mediaCard-hover-borderColor: var(--color-brand-active);
  --app-mediaCard-hover-textColor: var(--color-brand-active);

  & .prose {
    &
      :where(h1, h2, h3, h4, h5):not(
        :where([class~="not-prose"], [class~="not-prose"] *)
      ) {
      color: var(--color-brand);
    }
  }

  .search-bar {
    color: var(--color-gray-900);

    & #search {
      background: white;
      color: var(--color-gray-900);
      border: var(--app-borderWidth) solid var(--color-gray-300);
    }
    & button:not[type="submit"] {
      color: var(--color-gray-900);
    }
  }
}
