@import url("themes/default.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--app-fontFamily);
  color: var(--app-textColor);
  background-color: var(--app-backgroundColor);
  border-color: var(--app-borderColor);
}

a {
  text-decoration: none;
  color: var(--app-link-textColor);
}

a:hover {
  color: var(--app-link-hover-textColor);
  text-decoration: underline;
}

@layer utilities {
  .text-orient-sideways {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  .text-orient-upright {
    writing-mode: vertical-lr;
    text-orientation: upright;
  }

  /* text will write vertically from bottom to top */
  .text-orient-sideways-reverse {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  .text-orient-normal {
    writing-mode: initial;
    text-orientation: initial;
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  /**
* adapted from from a11y project's `visually-hidden` class
* changed from `absolute` to `fixed` positioning
* to avoid an issue when using this within a flexbox
**/
  .visually-hidden,
  .sr-only {
    position: fixed;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
  }

  ::-webkit-scrollbar {
    width: var(--app-scrollbar-width, 0.5rem);
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(
      --app-scrollbar-track-backgroundColor,
      rgb(255 255 255 / 33%)
    );
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--app-scrollbar-thumb-backgroundColor, #aaa);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--app-scrollbar-thumb-hover-backgroundColor, #555);
  }
}

.prose {
  --tw-prose-headings: var(--app-headingColor);
  --tw-prose-links: var(--app-link-textColor);
  max-width: 70ch;
  color: var(--app-textColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--app-headingColor);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: transform 0.2s ease-in-out;
}
.slide-right-enter-from,
.slide-right-leave-to {
  transform: translateX(100%);
}

/*
* source: https://css-tricks.com/snippets/css/shake-css-keyframe-animation/
*/
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
