@tailwind base;
@tailwind components;
@tailwind utilities;

/**
* ELEVATOR DEFAULT THEME
* Note: tailwind color vars can be used as `--color-{palette}-{shade}`
* e.g. `--color-blue-500`
*/
:root {
  --app-fontFamily: "Work Sans", "Helvetica Neue", sans-serif;
  --app-textColor: var(--color-neutral-900);
  --app-backgroundColor: var(--color-neutral-100);
  --app-borderColor: var(--color-neutral-900);
  --app-borderWidth: 2px;

  /**
  * App Header
  */
  --app-appHeader-backgroundColor: transparent;
  --app-wordmark-textColor: var(--app-textColor);

  /**
  * Link
  */
  --app-link-textColor: var(--color-blue-600);
  --app-link-hover-textColor: var(--color-blue-700);

  /**
  * Panel (Drawer)
  */
  --app-panel-borderColor: var(--app-borderColor);
  --app-panel-header-textColor: var(--app-textColor);
  --app-panel-header-backgroundColor: rgba(255 255 255 / 0.5);
  --app-panel-body-top-borderColor: white;
  --app-panel-body-textColor: var(--app-textColor);
  --app-panel-body-backgroundColor: transparent;
  --app-panel-body-items-gap: 1.5rem;

  /**
  * Object Viewer
  */
  --app-objectViewer-backgroundColor: var(--color-neutral-300);

  /**
  * Widget List
  */
  --app-widgetList-gap: var(--app-panel-body-items-gap);

  /**
  * Accordion
  */
  --app-accordion-header-backgroundColor: transparent;
  --app-accordion-header-textColor: var(--app-textColor);
  --app-accordion-body-backgroundColor: transparent;
  --app-accordion-body-textColor: var(--app-textColor);
  --app-accordion-outer-borderWidth: 1px;
  --app-accordion-outer-borderColor: var(--color-neutral-500);
  --app-accordion-inner-borderWidth: 1px;
  --app-accordion-inner-borderColor: transparent;

  /*************************BUTTONS*************************/

  /* primary and secondary have borders*/
    --app-button-borderWidth: 2px;
    --app-button-fontWeight: 500;

  /**
  * Button Primary (default)
  */

  --app-button-primary-borderColor: var(--app-button-primary-backgroundColor);
  --app-button-primary-backgroundColor: var(--color-neutral-900);
  --app-button-primary-textColor: white;

  /* Button Primary :hover */
  --app-button-primary-hover-borderColor: var(
    --app-button-primary-hover-backgroundColor
  );
  --app-button-primary-hover-backgroundColor: var(--color-blue-700);
  --app-button-primary-hover-textColor: white;

  /* Button Primary :active */
  --app-button-primary-active-borderColor: var(
    --app-button-primary-active-backgroundColor
  );
  --app-button-primary-active-backgroundColor: var(--color-blue-800);
  --app-button-primary-active-textColor: white;

  /* Button Primary :disabled */
  --app-button-primary-disabled-borderColor: var(
    --app-button-primary-disabled-backgroundColor
  );
  --app-button-primary-disabled-backgroundColor: var(--color-neutral-200);
  --app-button-primary-disabled-textColor: var(--color-neutral-400);

  /**
  * Button Secondary (default)
  */
  --app-button-secondary-borderColor: var(--color-neutral-900);
  --app-button-secondary-backgroundColor: transparent;
  --app-button-secondary-textColor: var(--color-neutral-900);

  /* Button Secondary :hover */
  --app-button-secondary-hover-borderColor: var(--color-blue-700);
  --app-button-secondary-hover-backgroundColor: transparent;
  --app-button-secondary-hover-textColor: var(--color-blue-700);

  /* Button Secondary :active */
  --app-button-secondary-active-borderColor: ar(--color-blue-700);
  --app-button-secondary-active-backgroundColor: var(--color-blue-700);
  --app-button-secondary-active-textColor: white;

  /* Button Secondary :disabled */
  --app-button-secondary-disabled-borderColor: var(--color-neutral-200);
  --app-button-secondary-disabled-backgroundColor: var(--color-neutral-50);
  --app-button-secondary-disabled-textColor: var(--color-neutral-400);

  /**
  * Button Tertiary (default)
  */
  --app-button-tertiary-borderColor: transparent;
  --app-button-tertiary-backgroundColor: transparent;
  --app-button-tertiary-textColor: var(--color-blue-600);

  /* Button Tertiary :hover */
  --app-button-tertiary-hover-borderColor: transparent
  --app-button-tertiary-hover-backgroundColor: transparent;
  --app-button-tertiary-hover-textColor: var(--color-purple-600);

  /* Button Tertiary :active */
  --app-button-tertiary-active-borderColor: tranparent;
  --app-button-tertiary-active-backgroundColor: tranparent;
  --app-button-tertiary-active-textColor: var(--color-fuchsia-500);

  /* Button Tertiary :disabled */
  --app-button-tertiary-disabled-borderColor: transparent;
  --app-button-tertiary-disabled-backgroundColor: tranparent;
  --app-button-tertiary-disabled-textColor: var(--color-neutral-400);
}

.theme-test {
  /* background: red; */
  /* --app-borderColor: var(--color-red-600); */
}

.theme-umn-maroon {
}
.theme-umn-gold {
}
.theme-thomas {
}
.theme-olaf {
}

@layer base {
  .app {
    font-family: var(--app-fontFamily);
    color: var(--app-textColor);
    background-color: var(--app-backgroundColor);
    border-color: var(--app-borderColor);
  }

  .app a {
    text-decoration: none;
    color: var(--app-color-link);
  }

  .app a:hover {
    text-decoration: underline;
  }
}

@layer utilities {
  /* text will write vertically from bottom to top */
  .sideways {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  /**
* adapted from from a11y project's `visually-hidden` class
* changed from `absolute` to `fixed` positioning
* to avoid an issue when using this within a flexbox
**/
  .visually-hidden,
  .sr-only {
    position: fixed;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
  }
}
